/*------------------------------------*\
    #HOME
\*------------------------------------*/

.site-wrapper {

}

/*------------------------------------*\
    #CTA
\*------------------------------------*/
.cta {
  background-color: $blue;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  text-align: center;
  position: relative;
  @include white-bg-texture; //white background texture
  padding: $mobile-padding;

  @include breakpoint(medium) { //1024px +
    padding: $desktop-padding;
  }

  h3 { //styles numbers
    font-size: em(55px);
    line-height: 1;
    color: #3F3E3D;
    background: rgba(243, 112, 33, .5);
    position: absolute;
    padding: 7px 7px 40px 7px;
  }

  h4 {
    font-size: em(29px);
    text-align: center;
    margin: 0 0 0 40px;
    font-size: em(24px);
  }

  &__info {
    grid-column: 1 / span 12;

    @include breakpoint(medium) { //1024px +
      grid-column: 1 / span 4;
    }

    &__head {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      h3 {
        grid-column: 1 / span 4;
      }
      h4, p {
        grid-column: 5 / span 9;
        margin: 0 0 20px 0;
      }
    }

  }
  &__contact {
    grid-column: 1 / span 12;

    @include breakpoint(medium) { //1024px +
      grid-column: 5 / span 4;
    }

    &__head {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      h3 {
        grid-column: 1 / span 4;
      }
      h4, p {
        grid-column: 5 / span 9;
        margin: 0 0 20px 0;
      }
    }
  }
  &__apply {
    grid-column: 1 / span 12;

    @include breakpoint(medium) { //1024px +
      grid-column: 9 / span 4;
    }

    &__head {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      h3 {
        grid-column: 1 / span 4;
      }
      h4, p {
        grid-column: 5 / span 9;
        margin: 0 0 20px 0;
      }
    }
  }

  &__info, &__contact, &__apply {
    padding: $mobile-padding;
    display: flex;
    flex-direction: column;

    @include breakpoint(medium) { //1024px +
      padding: $desktop-padding;
    }
  }

  .btn {
    width: 100%;

    @include breakpoint(large-mobile) { //480px +
      width: 40%;
    }

    @include breakpoint(medium) { //1024px +
      width: 70%;
      align-self: flex-end;
      margin-top: auto;
    }
  }
}

/*------------------------------------*\
    #VALUE STATEMENT PROGRAM SECTION
\*------------------------------------*/
.val-statement {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  @include blue-bg-texture;
  color: white;
  position: relative;
  width: 100%;
  height: 600px;

  @include breakpoint(medium) { //1024 + px
    height: 400px;
  }
  @include breakpoint(large) { //1500 + px
    height: 300px;
  }

  h3 {
    grid-column: 1 / span 12;
    padding: $mobile-padding;
    margin: 0;
    text-align: center;

    @include breakpoint(small) { //640 px +
      grid-column: 1 / span 4;
      padding: $desktop-padding;
      margin: 0;
      text-align: right;
    }
  }

  p {
    grid-column: 1 / span 12;
    padding: $mobile-padding;
    margin: 0;

    @include breakpoint(small) { //640 px +
      grid-column: 5 / span 7;
      padding: $desktop-padding;
    }
  }

  &__tagline {
    grid-column: 4 / span 9;
    padding: 10px;
    background-color: $dark-orange;
    position: absolute;
    top: 81%;
    right: 0;

    @include breakpoint(small) { //640 px +
      top: 75%;
    }

    p {

      text-transform: uppercase;
      font-size: em(24px);

      @include breakpoint(small) { //640 px +
        display: inline;
      }
    }
  }
}

/*------------------------------------*\
    #QUICK FACTS SECTION
\*------------------------------------*/
.facts {
  @include white-bg-texture;
  padding: $desktop-padding;

  h3 {
    color: $light-blue;
    text-align: center;
  }
  &__flex {
    display: flex;
    padding-top: 40px;
    align-items: flex-start;

    &__column {
      flex: 1;
      text-align: center;

      .test {
        width: 100%;
        align-self: flex-end;
        margin-top: auto;
      }
    }
  }
}

/*------------------------------------*\
    #STUDENT VALUE STATEMENT SECTION
\*------------------------------------*/
.val-statement-student {
  display: flex;

  &__column {
    flex: 1;

    h3 {
      color: $dark-orange;
    }
    p {
      text-transform: uppercase;
      color: $light-blue;
      font-size: em(24px);
      line-height: em(26px);
    }
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }
  &__column:first-child {
    padding: $desktop-padding;
  }
  &__column:last-child {
    position: relative;
    @include overlay;
  }
}

/*------------------------------------*\
    #DEGREE OPTIONS SECTION
\*------------------------------------*/
.degree-options {
  text-align: center;
  padding: $desktop-padding;
  @include white-bg-texture;

  h3 {
    color: $light-blue;
    padding-bottom: 20px;
  }

  .btn {
    margin-bottom: 20px;
  }

  h4 {
    margin-bottom: 20px;
  }

  p {
    width: 65%;
    display: block;
    margin: auto;
  }
}
