/*------------------------------------*\
    #GLOBALS
\*------------------------------------*/
html,
html > body,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
}

::selection {
}

h1 {
  font-family: $sans-head;
	font-weight: normal;
	font-size: em(50px);
}

h2 {
  font-family: $body;
	font-weight: normal;
	font-size: em(40px);
}

h3 {
  font-family: $sans-head;
	font-weight: normal;
	font-size: em(36px);
}

h4 {
  font-family: $sans-head;
}

h5 {
  font-family: $sans-head;
}

h6 {
  font-family: $sans-head;
}

p {
  font-family: $body;
	text-align: left;
	font-size: em(16px);
	line-height: 21px;
}
