/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
@font-face {
  font-family: 'Chunk';
  src: url('../../../assets/dist/fonts/Chunk.ttf');
}
@font-face {
  font-family: 'Gentona';
  src: url('../../../assets/dist/fonts/GentonaExtraBoldDEMO.otf');
}
@font-face {
  font-family: 'GentonaItalic';
  src: url('../../../assets/dist/fonts/GentonaExtraBold ItalicDEMO.otf');
}
@font-face {
  font-family: 'GentonaLight';
  src: url('../../../assets/dist/fonts/GentonaLight.otf');
}
