/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
@font-face {
  font-family: 'Chunk';
  src: url('../../../assets/dist/fonts/Chunk.ttf');
}
@font-face {
  font-family: 'GentonaAlt';
  src: url('../../../assets/dist/fonts/ArchivoBlack-Regular.ttf');
}
@font-face {
  font-family: 'GentonaItalicAlt';
  src: url('../../../assets/dist/fonts/Archivo-BoldItalic.ttf');
}
@font-face {
  font-family: 'GentonaLight';
  src: url('../../../assets/dist/fonts/GentonaLight.otf');
}
