/*------------------------------------*\
    #NAV
\*------------------------------------*/

.nav {
	display: none;  //hide for mobile portrait 768px
	background-color: $dark-orange;
	text-transform: uppercase;
	width: 100%;
	position: sticky;
	top: 0;
	font-family: $sans-head;
	color: white;
	font-size: em(14px);
	letter-spacing: em(2px);
	transition: font-size .2s ease-in-out;

	@include breakpoint(portrait) {  //display over 768px
		display: block;
		z-index: map-get($zindex, navigation);
	}

	.logo {
		width: 50px;
		height: 50px;
		display: block;
		margin: 0 auto auto 0;
		background: $light-blue;
		object-position: center center;

	}

	&__navigation {
		display: flex;  //parent for flexbox
		@include no-bullets;
		align-items: center;

		.grow {
			transition: all .2s ease-in-out;
		}
		.grow:hover {
			transform: scale(1.05);
		}

		> li {
			flex: 1; //child for flexbox
			text-align: center;

			> a {

				&:hover {
				}
				&:link {
					text-decoration: none;
				}f
				&:visited {

				}
				&:active {
				}
			}
		}
	}
	ul.nav__social-media {
		@include no-bullets;
		grid-column: 11 / span 2;
		display: flex;
		align-items: center;
		padding-top: 7px;

		> li {
				flex: 1;
		}
	}
}


	/*------------------------------------*\
	    #HAMBURGER
	\*------------------------------------*/
.hamburger {
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: map-get($zindex, hamburger);

	@include breakpoint(portrait) {  //do not dislay this after 768 px
		display: none;
	}

	svg {
		fill: $light-blue;
		height: 30px;
		width: 30px;
	}
}

.mobile-nav {
	background: $dark-orange;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 100%;
	top: -100%;
	transition: bottom 0.25s ease-in-out, top 0.25s ease-in-out;
	z-index: map-get($zindex, mobile-nav);

	&.open {
		bottom: 0;
		top: 0;
	}

	&__close {
		color: black;
		position: absolute;
		right: 10px;
		top: 10px;

		a {
			text-decoration: none;
			font-size: em(32px);
		}
	}

	ul {
		@include no-bullets;

		li {
			font-family: $body;
			font-size: em(24px);
			line-height: 1.33;
			letter-spacing: 2.7px;
			text-align: center;
			margin-bottom: 20px;
		}

		a {
			color: white;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
}


/*------------------------------------*\
    #HEADER
\*------------------------------------*/
header {
		@include overlay;
		position: relative;

		.header {
		  max-height: 650px;
		  /*display: grid;
		  grid-template-columns: repeat(12, 1fr);*/

			&__text:nth-child(1) {
				position: absolute;
				color: white;
				font-family: $body;
				font-size: em(21px);
				text-transform: uppercase;
				top: 25px;
				left: 20px;
				bottom: 50px;
				right: 20px;
				z-index: map-get($zindex, overlay);

				@include breakpoint(small) { //640 px +
					font-size: em(27px);
					top: 25px;
					left: 40px;
					bottom: 50px;
					right: 40px;
				}

				@include breakpoint(smaller-screen) { //800 px +
					font-size: 3vw;
					top: 30px;
				}

				@include breakpoint(xxlarge) {  //1921px
					font-size: em(60px)
				}
			}

			&__text:nth-child(2) {
				position: absolute;
				color: white;
				font-size: em(27px);
				text-transform: uppercase;
				top: 60px;
				left: 20px;
				bottom: 50px;
				right: 20px;
				z-index: map-get($zindex, overlay);

				@include breakpoint(small) { //640 px +
					font-size: em(32px);
					top: 60px;
					left: 40px;
					bottom: 50px;
					right: 40px;
				}

				@include breakpoint(smaller-screen) { //800 px +
					font-size: 4vw;
					top: 70px;
				}

				@include breakpoint(regular-screen) { //1200px
					top: 80px;
				}

				@include breakpoint(xxlarge) {  //1921px
					font-size: em(75px)
				}
			}

			&__text:nth-child(3) {
				position: absolute;
				color: white;
				font-size: em(21px);
				text-transform: uppercase;
				top: 200px;
				bottom: 50px;
				right: 20px;
				left: 20px;
				padding: 5px 0 5px 0;
				z-index: map-get($zindex, overlay);

				@include breakpoint(small-mobile) { //320 px +
					top: 188px;
				}


				@include breakpoint(small) { //640 px +
					font-size: em(24px);
					top: 194px;
					left: 40px;
					bottom: 50px;
					right: 40px;
				}

				@include breakpoint(smaller-screen) { //800 px +
					font-size: 2.5vw;
					top: 257px;
				}

				@include breakpoint(medium) {  //1024px
					top: 68%;
				}

				@include breakpoint(xxlarge) {  //1921px
					font-size: em(45px)
				}

				span {
					@include tagline-border;
				}
			}

			&__text:nth-child(4) {
				position: absolute;
				color: white;
				font-size: em(21px);
				text-transform: uppercase;
				top: 233px;
				bottom: 50px;
				right: 20px;
				left: 20px;
				padding: 5px 0 5px 0;
				z-index: map-get($zindex, overlay);

				@include breakpoint(small) { //640 px +
					top: 240px;
					left: 40px;
				}

				@include breakpoint(smaller-screen) { //800 px +
					font-size: 2.5vw;
					top: 300px;
				}

				@include breakpoint(medium) {  //1024px
					top: 80%;
				}

				@include breakpoint(xxlarge) {  //1921px
					font-size: em(45px)
				}

				span {
					@include tagline-border;
				}
			}

			&__image {
			  width: 100%;
				min-height: 300px;
				max-height: 700px;
			  object-fit: cover;
				top: 0;
			}
		}
}
